div{
    height: 100px;
    width: 100px;
    background-color: rgba(204, 255, 0, 0.662);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease 0.2s;
}

div:hover{
    margin-top: 400px;
    background-color: darkred;
}