<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home page</h1>
    <h3><%= 1+3 %></h3> <!-- Outputs the value into the template (HTML escaped) -->
    <h3><%= "abhishek kumar".toUpperCase() %></h3>
    <h3><%=["hello", "bonjoure", "namaste"][0] %></h3>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea voluptatem enim 
        doloremque earum impedit, mollitia ratione nihil obcaecati quas repellat id 
        dolor sit cum! Incidunt doloremque optio non velit ipsam!
    Delectus consectetur in qui error officiis hic incidunt sint laudantium quae 
    dicta quaerat, nulla autem quos cumque. Dolor autem voluptate, esse vero expedita 
    inventore enim accusamus fugiat, deleniti vitae dolorum!
    Quas, cumque facilis, enim saepe porro iste ullam commodi minima iusto inventore neque
     dolores minus magni illum corporis non quasi quod praesentium iure, veritatis eaque 
     consequuntur quae odio! Numquam, provident?
    Rerum neque quod ex? Mollitia, sequi! Consequuntur, illo dolorem eaque, quibusdam velit 
    placeat a modi consequatur earum ab vero hic! Rerum dolorem ducimus rem voluptates maxime deleniti culpa minima aperiam.</p>
    <button>Click Me!</button>
</body>
</html>