/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.yellowBg{
  background-color: yellow;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */






/* Activity */
/* body{
  text-align: center;
  /* display: flex; */
/* }
div{
  height: 100px ;
  width: 500px;
  border: 1px solid black;
  margin: auto;
} */ 

div{
  height: 200px;
  width: 400px;
  background-color: pink;
}

ul{
  background-color: blue;
}

li{
  background-color: yellowgreen;
}
